:root {
        --primary-color: #4EA685;
        --secondary-color: #57B894;
        --black: #000000;
        --white: #ffffff;
        --gray: #efefef;
        --gray-2: #757575;

        --facebook-color: #4267B2;
        --google-color: #DB4437;
        --twitter-color: #1DA1F2;
        --insta-color: #E1306C;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html,
body {
        height: 100vh;
        overflow: hidden;
}
.city{
        &>div{
                width:48%;
                margin-right:2%;
                float:left;
        }
}
@media screen and (max-width:426px){
        .poster{
                display: none;
        }
}